<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Что в кино">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Что в кино</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">К списку фильмов</a>
        </div>
      </div>
    </nav>
      
   
    <header id="top" class="header hidden-xs">
        <div class="text-vertical-center">
        </div>
    </header>
    
      
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-offset-3 col-sm-3">
                <h1>Викинг</h1>
            </div>
            <div class="col-xs-6 col-sm-of col-sm-3">
                Рейтинг фильма 4.756 
            </div>
        </div>
    </div><!-- /.container -->
    <div class="row">
      <p>Мегаломанская историческая драма при поддержке Первого канала о наших средневековых временах, то есть о Древней Руси, о которой всем так хочется снять свою «Игру престолов». Фильм мастерили несколько лет, в главной роли князя Владимира значится абсолютная русская кинозвезда Данила Козловский, на остальных ролях — все остальные лучшие актеры нашего кино. В качестве эксперимента фильм выйдет в прокат сразу в двух версиях: для семейного досуга в формате «12+» и для тех, кто любит пожестче, — с маркировкой «18+». Эта версия — «12+».</p>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
