<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Что в кино">
    <meta name="author" content="">
    <link rel="icon" href="https://pythonprogramming.net/static/favicon.ico">

    <title>Что в кино</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

  </head>

  <body>
        
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">Список фильмов</a>
          <a class="navbar-brand" href="/api/docs">API</a>
        </div>
      </div>
    </nav>
      
      
    <div class="container">
        <h1 class="blue text-center">Дайджест кинофильмов</h1>
        {% for film in info %}
        <div class="row">
            <hr>
            <div class="col-sm-3 col-xs-12">
                <a href="/movie/{{film['id']}}">
                <img src="{{film['img_min']}}" class="max-width" alt="Film photo"></a>
            </div>
            <div class="col-sm-9 col-xs-12">
                <a href="/movie/{{film['id']}}"><h4 class="blue">{{film['name']}}<span class="pull-right">Рейтинг {{film['rating']}} <span class="glyphicon glyphicon-star grey"></span></span></h4></a>
                <p>{{film['description']}}</p>
                <p>Жанр: {{film['genre']}}</p>
                <a href="/movie/{{film['id']}}" class="btn btn-default" role="button">Перейти на страницу фильма</a>
            </div>
        </div>
        {% endfor %}
    </div>
        
        
    <div class="container">
        <div class="row">
            <p class="footer text-center">Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайта Афиша.</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
